{% extends "layout.html" %}

{% block title %}
    Αλλαγή Κωδικού
{% endblock %}

{% block body %}
    <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <div class="card shadow-sm">
            <div class="card-body p-4">
                <h1 class="h4 text-center mb-4">Αλλαγή Κωδικού</h1>
                <form action="{{ url_for('change_password') }}" method="post">
                    <div class="mb-3">
                        <label for="password" class="form-label">Τρέχων κωδικός</label>
                        <input autocomplete="current-password" autofocus class="form-control" id="password" name="password" placeholder="Εισέλθετε τον τρέχοντα κωδικό σας" type="password">
                    </div>
                    <div class="mb-3">
                        <label for="new_password" class="form-label">Νέος κωδικός</label>
                        <input autocomplete="new-password" class="form-control" id="new_password" name="new_password" placeholder="Εισέλθετε τον νέο κωδικό σας" type="password">
                    </div>
                    <div class="mb-3">
                        <label for="confirmation" class="form-label">Επιβεβαίωση νέου κωδικού</label>
                        <input autocomplete="new-password" class="form-control" id="confirmation" name="confirmation" placeholder="Επιβεβαιώστε τον νέο κωδικό σας" type="password">
                    </div>
                    <button class="btn btn-primary w-100" type="submit">Αλλαγή Κωδικού</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
