{% extends "layout.html" %}

{% block title %}
    Αλλαγή Κωδικού
{% endblock %}

{% block body %}
    <div class="col-12 col-md-6 mx-auto">
        <form action="/admin/password" method="post">
            <div class="mb-3">
                <label for="password" class="form-label">Τρέχων κωδικός</label>
                <input autocomplete="current-password" autofocus class="form-control" name="password" placeholder="Εισέλθετε τον τρέχοντα κωδικό σας" type="password">
            </div>
            <div class="mb-3">
                <label for="new_password" class="form-label">Νέος κωδικός</label>
                <input autocomplete="new-password" class="form-control" name="new_password" placeholder="Εισέλθετε τον νέο κωδικό σας" type="password">
            </div>
            <div class="mb-3">
                <label for="confirmation" class="form-label">Επιβεβαίωση νέου κωδικού</label>
                <input autocomplete="new-password" class="form-control" name="confirmation" placeholder="Επιβεβαιώστε τον νέο κωδικό σας" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Αλλαγή Κωδικού</button>
        </form>
    </div>
{% endblock %}
